header {
    color: #3A4895;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.homepage-link {
    text-decoration: none;
    color: inherit;
}

.cart-icon-container {
    position: relative;
}

.cart-num {
    position: absolute;
    font-size: 10px;
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 10px;
    text-align: center;
    right: 25%;
    bottom: 65%;
}

@media (max-width: 480px) {
    header {
        margin: 10px;
    }
}